/* 公共 */
* {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	padding: 0;
	margin: 0;
}

body,
html {
	height: 100%;
}

body {
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

a {
	color: #3D3D3D;
	text-decoration: none;
}

a:hover {
	color: #41B883;
}

a:visited {
	color: #3D3D3D;
	text-decoration: none;
}

a[disabled] {
	cursor: not-allowed;
	opacity: .6
}

li {
	list-style: none;
}

li input[type=checkbox] {
	margin: 0 .2em .25em 0;
	vertical-align: middle
}

/* 头部 */
.header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	display: flex;
	height: 60px;
	line-height: 60px;
	background: #24292E;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.header .logo {
	margin-left: 100px;
	font-size: 22px;
	color: #ffffff;
}

.header .nav {
	margin-left: 80px;
}
.header .nav > ul {
	display: flex;
}
.header .nav > ul > li {
	margin: 0 30px;
	font-size: 16px;
}
.header .nav > ul > li > a {
	color: #ffffff;
}
.header .nav > ul > li > .active {
	font-weight: bold;
	border-bottom: 2px solid #41B883;
	padding-bottom: 8px;
}
.header .toggle {
	display: none;
}

.main {
	display: flex;
	justify-content: space-between;
}

/* 侧栏 */
.sidebar {
	width: 330px;
	background: #ffffff;
	border-right: 1px solid #EDEDED;
	min-height: 100vh;
}

.sidebar .sidebar-nav {
	padding-left: 2em;
}

.sidebar .scroll-pane {
	width: 300px;
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 9996;
	max-height: calc(100vh - 62px);
	overflow: auto;
}

.sidebar .sidebar-nav h2 {
	margin: 10px 0;
	padding: 10px 15px;
	font-size: 20px;
	font-weight: 700;
	color: #2c3e50;
}

.sidebar .sidebar-nav ul {
	margin: 0 0 0 15px;
	padding: 0;
}

.sidebar .sidebar-nav ul > li {
	line-height: 30px;
	padding-left: 1em;
}
.sidebar .sidebar-nav ul > li > a:hover {
	color: #41B883;
}
.sidebar-nav .active {
	color: #41B883;
	font-weight: bold;
}

.sidebar .sidebar-toggle {

}

/* 内容 */
.content {
	flex: 1;
	margin-top: 60px;
	background: #ffffff;
	position: relative;
	z-index: 9998;
}
.content .content-body a:hover {
	color: #41B883;
}
.content .page-nav {
	margin-top: 30px;
}
.content .page-nav > ul {
	display: flex;
	justify-content: space-between;
}
.content .page-nav > ul {
	padding: 0!important;
}
.content .page-nav > ul > li > a {
	color: #41B883;
	font-weight: bold;
}

/* 文档目录 */
.catalog {
	margin-top: 60px;
	padding-top: 20px;
	width: 280px;
	height: 100%;
}

.catalog-body {
	position: fixed;
	height: 100%;
}

.catalog-title {
	font-weight: bold;
	padding-left: 12px;
	border-left: 1px solid #EDEDED;
	padding-bottom: 8px;
}

.catalog-nav {
	line-height: 24px;
	width: 260px;
}
.catalog-nav > a {
	width: 90%;
	display: block;
	font-size: 14px;
	border-left: 1px solid #EDEDED;
	content: '...';
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.catalog-nav > a:hover {
	color: #41B883;
}
.catalog-nav > .h1 {
	padding-left: 12px;
}
.catalog-nav > .h2 {
	padding-left: 24px;
}
.catalog-nav > .h3 {
	padding-left: 36px;
}
.catalog-nav > .h4 {
	padding-left: 48px;
}
.catalog-nav > .h5 {
	padding-left: 60px;
}
.catalog-nav > .h6 {
	padding-left: 72px;
}
.catalog-nav .active {
	color: #41B883;
	font-weight: bold;
	border-left: 1px solid #41B883;
}

@media only screen and (max-width: 750px) {
	/* 头部 */
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		height: 50px;
	}

	.header .logo {
		margin-left: 0px;
		font-size: 16px;
		text-align: center;
		width: 100%;
	}

	.header .nav>li {
		margin: 0 10px;
	}

	.header .nav {
		display: none;
	}

	.header .toggle {
		display: block;
		height: 40px;
		padding-right: 30px;
	}

	.header .toggle img {
		width: 40px;
		height: 40px;
	}
	.main {
		display: block;
		position: relative;
	}
	.sidebar {
		position: fixed;
		top: 50px;
		left: 0px;
		width: 80%;
		background: #ffffff;
		z-index: 9996;
		visibility: hidden;
		max-height: calc(100vh - 62px);
		border-right: 1px solid #EDEDED;
		height: 100%;
		overflow: auto;
	}
	.sidebar-show {
		animation: sidebar-show 1s;
		-webkit-animation: sidebar-show 1s;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		animation-iteration-count: 1;
		-webkit-animation-iteration-count: 1;
	}

	.sidebar-hide {
		animation: sidebar-hide 1s;
		-webkit-animation: sidebar-hide 1s;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
		animation-iteration-count: 1;
		-webkit-animation-iteration-count: 1;
	}

	/* 内容 */
	.markdown {
		margin: 0 15px!important;
		padding: 20px 0 15px 0!important;
	}

	/* 文档结构 */
	.catalog  {
		display: none;
	}

	/* 侧栏媒体查询 */
	@keyframes sidebar-hide {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
			left: -300px;
		}
	}

	/* 侧栏媒体查询 */
	@keyframes sidebar-show {
		0% {
			opacity: 0;
			left: -150px;
		}

		100% {
			opacity: 1;
			left: 0px;
		}
	}	
}

/* markdown */
.markdown {
	margin: 0 30px;
	padding: 40px 30px;
}

.markdown>* {
	box-sizing: border-box;
	font-size: inherit;
}


.markdown hr {
	border: none;
	border-bottom: 1px solid #eee;
	margin: 2em 0;
}

.markdown iframe {
	border: 1px solid #eee;
	width: 1px;
	min-width: 100%;
}

.markdown table {
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	margin-bottom: 1rem;
	overflow: auto;
	width: 100%;
}

.markdown th {
	font-weight: 700;
}

.markdown td,.markdown th {
	border: 1px solid #ddd;
	padding: 6px 13px;
}

.markdown tr {
	border-top: 1px solid #ccc;
}

.markdown p.tip,.markdown tr:nth-child(2n) {
	background-color: #f8f8f8;
}

.markdown p.tip {
	border-bottom-right-radius: 2px;
	border-left: 4px solid #f66;
	border-top-right-radius: 2px;
	margin: 2em 0;
	padding: 12px 24px 12px 30px;
	position: relative;
}

.markdown p.tip:before {
	background-color: #f66;
	border-radius: 100%;
	color: #fff;
	content: "!";
	font-family: Dosis,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -12px;
	line-height: 20px;
	position: absolute;
	height: 20px;
	width: 20px;
	text-align: center;
	top: 14px;
}

.markdown p.tip code {
	background-color: #efefef;
}

.markdown p.tip em {
	color: #34495e;
}

.markdown p.warn {
	background: rgba(66,185,131,.1);
	border-radius: 2px;
	padding: 1rem;
}

.markdown ul.task-list>li {
	list-style-type: none;
}

.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown strong {
	color: #2c3e50;
	font-weight: 600;
}

.markdown h1 {
	font-size: 2rem;
	margin: 45px 0 1rem; 
}
.markdown h2 {
	font-size: 1.75rem;
	margin: 45px 0 .8rem;
}

.markdown h3 {
	font-size: 1.5rem;
	margin: 40px 0 .6rem;
}

.markdown h4 {
	font-size: 1.25rem;
}

.markdown h5 {
	font-size: 1rem;
}

.markdown h6 {
	color: #777;
	font-size: 1rem;
}

.markdown figure,.markdown p {
	margin: 1.2em 0;
}

.markdown ol,.markdown p,.markdown ul {
	line-height: 1.6rem;
	word-spacing: .05rem;
}

.markdown ol,.markdown ul {
	padding-left: 1.5rem;
}

.markdown blockquote {
	border-left: 4px solid var(--theme-color,#42b983);
	color: #858585;
	margin: 2em 0;
	padding-left: 20px;
}

.markdown blockquote p {
	font-weight: 600;
	margin-left: 0;
}

.markdown iframe {
	margin: 1em 0;
}

.markdown em {
	color: #7f8c8d;
}

.markdown code {
	border-radius: 2px;
	color: #e96900;
	font-size: 14px;
	margin: 0 2px;
	padding: 3px 5px;
	white-space: pre-wrap;
}

.markdown code,.markdown pre {
	/* background-color: #f8f8f8;
	font-family: Roboto Mono,Monaco,courier,monospace; */
}

.markdown pre {
	/* -moz-osx-font-smoothing: initial;
	-webkit-font-smoothing: initial;
	line-height: 1.5rem;
	margin: 1.2em 0;
	overflow: auto;
	padding: 0 1.4rem;
	position: relative;
	word-wrap: normal; */
}

.token.cdata,.token.comment,.token.doctype,.token.prolog {
	color: #8e908c;
}

.token.namespace {
	opacity: .7;
}

.token.boolean,.token.number {
	color: #c76b29;
}

.token.punctuation {
	color: #525252;
}

.token.property {
	color: #c08b30;
}

.token.tag {
	color: #2973b7;
}

.token.string {
	color: var(--theme-color,#42b983);
}

.token.selector {
	color: #6679cc;
}

.token.attr-name {
	color: #2973b7;
}

.language-css .token.string,.style .token.string,.token.entity,.token.url {
	color: #22a2c9;
}

.token.attr-value,.token.control,.token.directive,.token.unit {
	color: var(--theme-color,#42b983);
}

.token.function,.token.keyword {
	color: #e96900;
}

.token.atrule,.token.regex,.token.statement {
	color: #22a2c9;
}

.token.placeholder,.token.variable {
	color: #3d8fd1;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #202746;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.bold,.token.important {
	font-weight: 700
}

.token.important {
	color: #c94922;
}

.token.entity {
	cursor: help;
}

.markdown pre>code {
	/* -moz-osx-font-smoothing: initial;
	-webkit-font-smoothing: initial;
	background-color: #f8f8f8;
	border-radius: 2px;
	color: #525252;
	display: block;
	font-family: Roboto Mono,Monaco,courier,monospace;
	font-size: .8rem;
	line-height: inherit;
	margin: 0 2px;
	max-width: inherit;
	overflow: inherit;
	padding: 2.2em 5px;
	white-space: inherit */
}

.markdown code:after,.markdown code:before {
	letter-spacing: .05rem
}

code .token {
	-moz-osx-font-smoothing: initial;
	-webkit-font-smoothing: initial;
	min-height: 1.5rem
}

pre:after {
	color: #ccc;
	content: attr(data-lang);
	font-size: .6rem;
	font-weight: 600;
	height: 15px;
	line-height: 15px;
	padding: 5px 10px 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0
}

pre[class*=language-].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber
}

pre[class*=language-].line-numbers>code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em;
	letter-spacing: -1px;
	border-right: 1px solid #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-numbers-rows>span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows>span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: .8em;
	text-align: right;
}